NEXT_PUBLIC_API_URL=http://esycrdt9090.d.gslb:9090
NEXTAUTH_URL=http://localhost:3000/
NEXT_PUBLIC_APP_NAME=easy-credit-front
NEXT_PUBLIC_ACTIVE_ISILOANS=false
NEXTAUTH_SECRET=
NEXT_SECRET_CLIENT=
NEXT_SECRET_ID=
NEW_RELIC_APP_NAME=EASYCREDIT-FRONT-LOCAL